
S2K source code/Speech2Keys/bin/Debug/config.s2k
Profiles/Battlefield Gothic Armada 2.s2k
Profiles/Battlefield Gothic Armada 2.s2k
Profiles/Blender.s2k
Profiles/Battlefield Gothic Armada 2.s2k
Profiles/dfff.s2k
S2K source code/Speech2Keys/bin/Release/config.s2k
